page-mainboard {
  .toolbar-background-ios, .toolbar-background {
    background-color: $header_bg_color;
  }
  .bar-buttons-ios[end] {
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
      color: $toolbar-ios-title-text-color;
    }
  }
  .toolbar-title-md {
    color: $toolbar-ios-title-text-color;
  }
  .button-clear-ios, .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: rgb(255, 255, 255);
  }

  ion-segment {
    margin: 0 auto;
    width: 50%;
  }

  ion-content {
    input[disabled] {
      color: #000 !important;
      background: none !important;
      opacity: 1 !important;
    }
    .checkbox-ios.checkbox-disabled, .item-ios.item-checkbox-disabled ion-label {
      pointer-events: none;
      color: #000 !important;
      background: none !important;
      opacity: 1 !important;
    }
  }
  .content {
    background-color: rgb(250, 250, 250);

  }

  [icon-only] ion-icon {
    padding: 0 0.5em;
    font-size: 1.5em !important;
    line-height: .67;
    pointer-events: none;
  }
  .fab-md {
    background-color: $header_bg_color;
  }


}

