page-mainboard {
  .toolbar-background-ios {
    background-color: $header_bg_color;
  }
  .bar-buttons-ios[end] {
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
      color: $toolbar-ios-title-text-color;
    }
  }
  .button-clear-ios {
    color: rgb(255, 255, 255);
  }
  ion-segment {
    margin: 0 auto;
    width: 50%;
  }
}

