page-job-list {
  .card-ios {
    p {
      color: $header_bg_color;
      font-weight: 500;
      span {
        color: $header_bg_color;
        font-weight: 500;
      }
    }
    span {
      font-weight: 200;
    }
  }

}