<ion-header>
    <ion-navbar>
        <ion-title text-center *ngIf="!showSearchbar">Пропозиції
        </ion-title>

        <ion-buttons *ngIf="!showSearchbar" end>
            <button ion-button icon-only (click)="showSearchBar()">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons>
        <div *ngIf="showSearchbar">
            <ion-searchbar
                    [animated]="'true'"
                    [showCancelButton]="'true'"
                    (ionCancel)="showSearchBar()">
            </ion-searchbar>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding-vertical>
    <div padding>
        <ion-segment [(ngModel)]="category">
            <ion-segment-button value="all">
                Всі
            </ion-segment-button>
            <ion-segment-button value="my">
                Мої
            </ion-segment-button>
        </ion-segment>
    </div>

    <div>
        <ion-card *ngFor="let entity of list">
            <ion-card-header>
                {{entity.title}}
            </ion-card-header>
            <ion-card-content>
                <p>
                    <ion-icon name="ios-cog-outline"></ion-icon>
                    {{entity.customer}}
                </p>
                <p>
                    <ion-icon name="ios-calendar-outline"></ion-icon>
                    {{entity.date_start}} {{entity.date_end}}
                </p>
                <p>
                    <span>
                        <ion-icon name="ios-cash-outline"></ion-icon>
                    {{entity.salary}}</span>
                    <span>
                        <ion-icon name="ios-locate-outline"></ion-icon>
                        {{entity.city}}</span>
                </p>
                <span>Размещено 1 час назад</span>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>