page-login {
  .item.item-block.item.item-input.ng-dirty.ng-touched.ng-invalid {
    border: 1px solid red;
  }

  .scroll-content {
    margin-bottom: 0!important;
    padding: 16px;
    padding-bottom: 0!important;

  }

  ion-content {
    ion-row {
      //margin-top: calc(100% - 60%);
     // height: calc(100% - 1%);
      margin: 42% auto;
    }
  }

  font-size: 12px;

  a {
    text-transform: uppercase;
    color: white;
    &:last-child {
      color: color($colors, primary);
    }
  }

  ion-content {
    background: url('../assets/imgs/bg.png');
    background-size: 100% 100%;
  }

  .item {

    border-radius: 40px;
    opacity: 0.5;
    height: 40px;
    width: 88%;

    font-weight: bold;
    .input {
      font-size: 12px;
      //color: #5d6d7d;
      font-weight: bold;

    }
  }
  .text-input {
    margin-left: 7px;
  }
  .button {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin: 6% 0 30px 0;
    width: 88%;
    height: 40px;
  }
  .pass-icon {
    z-index: 99;
   // color: black;
  }
   .item ion-icon[item-right]{
     color: rgba(78, 78, 83, 0.68)!important;
   }
  [col-sm-9] {
    margin-left: 10%;

  }
  .text-cust {
    margin-right: 9%;
  }
  .text-input {
    margin: 0;
  }

  .item.item-input.item-input-has-focus .item-inner, .item.item-input.item-input-has-focus .item-inner {
    border-bottom-color: transparent;
    box-shadow: inset 0 0px 0 0 black;
    // outline: black;

  }
  button ion-button {
    color: #fdad2a;
  }
  a:last-child {
    color: #fdad2a;
  }
  /*.item-md.item-block .item-inner{
    border-bottom: 2px solid black;
  }*/
  .input-cover :focus {
    border: 1px solid #30cc00;
  }
  .ion-input .placeholder {
    color: white;
  }
  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: inset 0 0px 0 0 black;

  }
  .item-input-has-focus {
    border: 1px solid;
  }
  .item ion-icon[item-left], .item ion-icon[item-right], .item ion-icon[item-start], .item ion-icon[item-end] {
    font-size: 2.5rem;
    color: rgba(1, 1, 2, 0.68);
    margin-top: 14px;
  }
  .valid .label {
    color: #A80B00;
    font-weight: 500;
    font-size: 12px;
  }
  .valid .item {
    background-color: transparent;
    opacity: 1;
    //margin-top: -6%;
    margin-bottom: 0;

  }
  .item.item-block .item-inner {
    border-bottom: 1px solid transparent;

  }
  .input_one {
    height: 69px;
  }
  .valid-button {
    background-color: #ffb130;
  }
  .input_two {
    height: 69px;
  }
  .forgott a:last-child {
    color: white !important;
  }
  /*.text-input{
    position: absolute;
    //width: 20%;
    margin: -5px 31px 0px;
  }*/
  .telefone_all{
    //margin-left: -28;
   // margin-top: 5px;
  }
  .telef{
    z-index: 9999;
    margin-right: 32px;
    border: 1px solid transparent;
    background: transparent;
    height: 22px;
    width: 100%;
    font-size:12px;
    color: #000;

  }
  .telef p{
/*margin-right: 29px;
    margin-top: -18px;
    font-size: 12px;*/
    color: #000;
    margin-top: -15px;
    font-size: 12px;

  }
  .telephone{
    margin-left: 29px;
    border: none;
    margin-top: 2px;
  }
  .item {
   // border:1px solid black;
    //border:2px solid rgba(55, 55, 55 ,1) !important;margin-left:5px !important;padding:12px !important;background-color: rgba(255, 188, 8, 0.75) !important;border-radius: 8px !important;
  }
a{
  font-size: 11px;
}

  .item-input-has-focus {
    border: 1px solid black;
  }
.item-has-focus{
  border:1px solid black;
}
input-cover:active{
  border:1px solid black;
}
}
