<ion-header>
    <ion-navbar>
        <div class="bar bar-header bar-positive">
            <ion-title text-center>
                Профайл
            </ion-title>
            <ion-buttons end>
                <button *ngIf="!editMode" ion-button icon-only (click)="editEnable()">
                    Редагувати
                </button>
                <button *ngIf="editMode" ion-button icon-only (click)="save()">
                    Зберегти
                </button>
            </ion-buttons>
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding-vertical>
    <div padding>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="info">
                Про мене
            </ion-segment-button>
            <ion-segment-button value="skills">
                Навички
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="segment">

        <div *ngSwitchCase="'info'">
            <page-profile-info [editMode]="editMode">

            </page-profile-info>
        </div>

        <div *ngSwitchCase="'skills'">
            <page-profile-skill></page-profile-skill>
        </div>
    </div>
</ion-content>
