<ion-header>
    <ion-navbar>
        <ion-title text-center>
            Профайл
        </ion-title>
        <ion-buttons end>
            <button *ngIf="!editMode" ion-button icon-only (click)="editEnable()">
                <ion-icon name="brush"></ion-icon>
            </button>
            <button *ngIf="editMode" ion-button icon-only (click)="save()">
                <ion-icon name="done-all"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding-vertical>
    <div padding>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="info">
                Про мене
            </ion-segment-button>
            <ion-segment-button value="skills">
                Навички
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="segment">

        <div *ngSwitchCase="'info'">
            <page-profile-info [editMode]="editMode" (onEntityChange)="onEntityChange($event)">

            </page-profile-info>
        </div>

        <div *ngSwitchCase="'skills'">
            <page-profile-skill [editMode]="editMode"></page-profile-skill>
        </div>
    </div>
</ion-content>
