<ion-list padding-horizontal>
    <ion-row>
        <div col-4 (click)="openPhotoActions()" vertical-align-center text-center style="min-height: 120px">
            <img [src]="defaultImg" alt="" *ngIf="!this.entity.file">
            <img [src]="this.entity.file" alt="" *ngIf="this.entity.file!=''">
        </div>
        <ion-list col-8>
            <div class="first_last_name">
                <ion-item floating>
                    <ion-input   (ionChange)="onFormChange()" [(ngModel)]="entity.name" [disabled]="!editMode"
                               placeholder="Ім'я"
                               type="text"></ion-input>
                </ion-item>
                <ion-item floating>
                    <ion-input [ngStyle]="editMode?{'border-bottom':'1px dotted'}:{}" (ionChange)="onFormChange()"
                               [(ngModel)]="entity.surname" [disabled]="!editMode"
                               placeholder="Прізвище"
                               type="text"></ion-input>
                </ion-item>
            </div>
        </ion-list>
    </ion-row>
    <ion-item no-padding>
        <ion-input name="phone" placeholder="Номер телефону"
                   type="text" (ionChange)="onFormChange()" [(ngModel)]="entity.phone"
                   disabled></ion-input>
        <ion-row class="border">
        </ion-row>
    </ion-item>
    <ion-item no-padding>
        <ion-input  [ngStyle]="editMode?{'border-bottom':'1px dotted'}:{}" placeholder="E-mail" type="text" (ionChange)="onFormChange()" [(ngModel)]="entity.email"
                   [disabled]="!editMode"></ion-input>
        <ion-row class="border">
        </ion-row>
    </ion-item>
    <ion-item no-padding>
        <ion-input  [ngStyle]="editMode?{'border-bottom':'1px dotted'}:{}" placeholder="Місто" type="text" (ionChange)="onFormChange()" [(ngModel)]="entity.city"
                   [disabled]="!editMode"></ion-input>
        <ion-row class="border">
        </ion-row>
    </ion-item>
    <ion-item no-padding  [ngStyle]="editMode?{'border-bottom':'1px dotted'}:{}">
        <ion-label> У мене є закордонний паспорт</ion-label>
        <ion-checkbox (ionChange)="onFormChange()" color="primary" checked="false" round item-end
                      [(ngModel)]="entity.passport"
                      [disabled]="!editMode"></ion-checkbox>
    </ion-item>
    <!--<button no-padding detail-push ion-item (click)="presentContactModal()">Змінити пароль</button>-->
</ion-list>

